<h2>商品詳細</h2>

<%= image_tag @item.get_profile_image(64,64) %>

<label>商品名</label>
<%= @item.name %>
<label>商品説明</label>
<%= @item.introduction %>
<label>ジャンル</label>
<%= @item.genre.name %>
<label>税込価格<br>(税抜価格)</label>
<%= @item.add_tax_price.to_s(:dalimited) %>
(<%= @item.price %>)
<label>販売ステータス</label>
<%= @item.is_active %>

<%= link_to admin_items_path do %>
  編集する
<% end %>