<div class="container">
  <label class="mt-4 mb-4 lead bg-light">会員一覧</label>
  <table class="table">
    <thead>
      <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
    </thead>
    <% @customers.each do |customer| %>
    <tbody>
      <tr>
        <td><%= customer.id %></td>
        <td>
          <%= link_to admin_customer_path(customer.id) do %>
            <%= customer.last_name %><%= customer.first_name %>
          <% end %>
        </td>
        <td><%= customer.email %></td>
        <td>
          <% if customer.is_active == true %>
            退会
          <% else %>
            <label class="text-success">有効</label>
          <% end %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
  <%= paginate @customers %>
</div>

