<div class="container">
    <label class="mt-4 mb-4 lead bg-light">注文履歴詳細</label>
    <div>
    <label class="mr-5">購入者</label>
    <%= link_to admin_customer_path(@customer.id) do %>
        <%= @order.customer.last_name %><%= @order.customer.first_name %>
    <% end %>
    </div>
    <div>
    <label class="mr-5">注文日</label>
    <%= l @order.created_at %>
    </div>
    <div>
    <label class="mr-5">配送先</label>
    <label>
    〒<%= @order.ship_postal_code %> <%= @order.ship_postal_address %><br>
    <%= @order.ship_name %>
    </label>
    </div>
    <div>
    <label class="mr-5">支払い方法</label>
    <%= @order.payment_i18n %>
    </div>

    <div class="row mt-4">
        <div class="col-md-6">
        <table class="table">
            <thead>
                <tr>
                    <th>商品名</th>
                    <th>単価（税込）</th>
                    <th>数量</th>
                    <th>小計</th>
                </tr>
            </thead>
            <% @order.order_details.each do |order_detail| %>
            <tbody>
                <tr>
                    <td><%= order_detail.item.name %></td>
                    <td><%= order_detail.purchase_price %></td>
                    <td><%= order_detail.amount %></td>
                    <td><%= order_detail.subtotal %></td>
                </tr>
            </tbody>
            <% end %>
        </table>
        </div>
        <div class="col-md-4 ml-5">
            <div>
                <label class="lead mr-5">商品合計</label>
                <label class="ml-1"><%= @total %>円</label>
            </div>
            <div>
                <label class="lead mr-5">送料</label>
                <label class="ml-5"><%= @order.postage %>円</label>
            </div>
            <div>
                <label class="lead mr-1">請求金額合計</label>
                <label class="lead"><%= @order.request_money %>円</label>
            </div>

        </div>

    </div>


</div>
