<div class="container">
  <label class="mt-4 mb-4 lead bg-light">注文履歴一覧</label>
  <table class="table">
    <thead>
      <tr>
        <th>購入日時</th>
        <th>購入者</th>
        <th>注文個数</th>
      </tr>
    </thead>
    <% @orders.each do |order| %>
    <tbody>
      <tr>
        <td>
          <%= link_to admin_order_path(order.id) do %>
          <%= l order.created_at,format: :long %>
          <% end %>
        </td>
        <td><%= order.customer.last_name %><%= order.customer.first_name %></td>
        <td>
        <% total = 0 %>
        <% order.order_details.each do |order_detail| %>
          <% total += order_detail.amount.to_i %>
        <% end %>
        <%= total %>
        </td>
      </tr>
    </tbody>
    <% end %>
  </table>
</div>