<div class="container">
  <label class="mt-4 mb-4 lead bg-light">商品一覧(全<%= @items.count %>件)</label>
  <div class="row">
    <% @items.each do |item| %>
      <div class="col-md-3">
        <div>
          <%= link_to item_path(item.id) do %>
          <%= image_tag item.get_profile_image(100,100),class: "img-fluid" %>
          <% end %>
        </div>
        <div>
          <%= link_to item_path(item.id) do %>
            <%= item.name %>
          <% end %>
        </div>
        <div>
          ¥<%= item.add_tax_price.to_s(:dalimited) %>
        </div>
      </div>
    <% end %>
  </div>
</div>